:root {
  --boardHeight: 782px;
  --boardWidth: 782px;
}
html {
  font-family: sans-serif;
}

body {
  background: #949494a7;
}

#game-board {
  width: var(--boardWidth);
  height: var(--boardHeight);
  margin: auto auto;
  border-radius: 9px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: rgb(6, 95, 1);
}
section {
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  height: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

#apple {
  width: 2rem;
  height: 2rem;
  margin: 0px 10px 0px 20px;
  background-image: url('apple.png');
  background-size: 100% 100%;
}

#current-score {
  width: 2rem;
  height: 2.5rem;
  margin: auto 8px;
  font-size: 2rem;
  color: antiquewhite;
  background-size: 100% 100%;
}

#trophy {
  width: 2rem;
  height: 2rem;
  margin: 0px 10px 0px 530px;
  background-image: url('trophy.png');
  background-size: 100% 100%;
  visibility: hidden;
}

#high-score {
  width: 2rem;
  height: 2.5rem;
  margin: auto 8px;
  font-size: 2rem;
  color: wheat;
  background-size: 100% 100%;
  visibility: hidden;
}

canvas {
  background-image: url('canvas-bg.jpeg');
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 96%;
  height: 90%;
  border: 5px solid green;
  border-radius: 3px;
  background-size: 100% 100%;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

#modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 18%;
  top: 35vh;
  left: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

#modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

#modal #stats #modal-curr-score {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#modal #stats #modal-high-score {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#modal #action {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

button:hover,
button:active {
  background: #f67722;
  border-color: #f67722;
}
